spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    password: 'gamemode1910'
    url: jdbc:mysql://localhost:3306/future_shop?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
    username: 'root'
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: create-drop
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  mvc:
    hiddenmethod:
      filter:
        enabled: true