<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar::head">
</head>
<body>

<div th:replace="fragments/navbar::navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="shadow p-3 mb-5 login-form bg-dark mt-4 p-4 bg-image"
                 style="border-radius: 20px;">

                <form th:object="${restaurantAddBindingModel}" th:action="@{/restaurants/add}" method="POST" class="row g-3" >
                    <h1>Add Restaurant</h1>
                    <div class="col-12">
                        <label>Name</label>
                        <input type="text" name="name"
                               th:field="*{name}"
                               th:errorclass="is-invalid"
                               class="form-control" placeholder="Name">
                        <div class="invalid-feedback">
                            You must enter a name
                        </div>
                    </div>
                    <div class="col-12">
                        <label>Address</label>
                        <input type="text" name="address"
                               th:field="*{address}"
                               th:errorclass="is-invalid"
                               class="form-control" placeholder="Address">
                    </div>
                    <div class="col">
                        <label>Dishes</label>
                        <select th:field="*{dishes}" th:errorclass="is-invalid" class="form-select" size="3" multiple>
                            <option th:each="d : ${dishes}" th:value="${d}" th:text="${d}"></option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-warning float-end">Add Restaurant</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style th:replace="fragments/style::style">

</style>

</body>
</html>