<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/navbar::head">
</head>
<body>
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you were looking for was not found</div>
                <a th:href="@{/home}" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>